header {
    background-color: rgb(218, 213, 213);
}
.pantry-items {
    background-color: antiquewhite;
    border: solid black;
    padding: 5px;
    width: 800px;
}
.canned {
    /*Section Color 
    and Box Model */
    background-color: gray;
    border: solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.dry-goods {
    width: 200px;
    padding: 10px;
    margin: 10px;
    /*Section Color*/
    background-color: gray;
    border: solid black;
}

.pantry-pic {
    width: 200px;
    /*photo padding*/
    padding: 10px;
    margin: 10px;
    border: solid black;
}

.freezer-items {
    background-color: antiquewhite;
    border: solid black;
    padding: 5px;
    width: 800px;
}

.veggies {
    width: 200px;
    padding: 10px;
    margin: 10px;
    /*Section Color*/
    background-color: gray;
    border: solid black;
}

.snacks {
    width: 200px;
    padding: 10px;
    margin: 10px;
    /*Section Color*/
    background-color: gray;
    border: solid black;
}

.freezer-pic {
    width: 200px;
    /*photo padding*/
    padding: 10px;
    margin: 10px;
    border: solid black;
}

.pantry-flex {
    display: flex;
}

.freezer-flex {
    display: flex;
}